<div #main class="template" style="opacity:1">
  <div class="part body">
    <div class="container">
      <h4>{{exercise.title}}</h4>
      <div class="lead assignment" [innerHTML]="exercise.description | noSanitize"></div>
      <div class="lead animation" #statement>
        <div class="w-100 hidden show-1">
          <div class="col-12" style="text-align:center;margin-bottom:10px" #answer></div>
        </div>
        <div class="w-100 hidden show-2">
          <div class="col-12" style="text-align:center;margin-bottom:10px" #response></div>
        </div>
      </div>
      <div class="w-100" style="text-align:center;margin-bottom:10px" #buttons><button class="btn btn-nav btn-success" #btnLegitimate (click)="isLegitimate()" type="button">Legitimate</button> <button class="btn btn-nav btn-danger" #btnSuspicious (click)="isSuspicious()" type="button">Suspicious</button> <button class="btn btn-nav btn-primary" style="display:none" #btnValidate (click)="toValidate()" type="button">Validate</button><button *ngIf="!preview" class="btn btn-nav btn-primary" style="display:none" #btnNext (click)="goToNextPage()" type="button">Next</button></div>
    </div>
  </div>
  <div class="part">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-8" #email>
          <div class="card" *ngIf="template === 0">
            <div class="card-body">
              <div class="card-title" style="font-size:20px"><span class="clickable" answer="a1" [innerHTML]="exercise.object | noSanitize"></span></div>
              <div style="display:flex;align-items:start"><div style="width:40px"><svg class="clickable" height="48" answer="a2"
                  style="enable-background:new 0 0 48 48" version="1.1" viewBox="0 0 48 48" width="48" x="0"
                  xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  y="0">
                  <style>.st0{fill:{{senderColor}}}.st1{fill:#22a6d2}.st2{fill:#fff}.st3{fill:none}.st4{font-family:Calibri;text-transform:uppercase}.st5{font-size:21px}</style>
                  <g>
                    <path class="st0"
                      d="M34,42c0-4.4,3.6-8,8-8c1.2,0,2.4,0.3,3.4,0.8C47.1,31.5,48,27.9,48,24C48,10.7,37.3,0,24,0S0,10.7,0,24s10.7,24,24,24c3.9,0,7.5-0.9,10.8-2.6C34.3,44.4,34,43.2,34,42z">
                    </path>
                  </g>
                  <circle class="st1" cx="42" cy="42" r="6"></circle>
                  <circle class="st2" cx="42" cy="42" r="5"></circle>
                  <rect class="st3" height="15" width="48" y="16"></rect><text class="st2 st4 st5" text-anchor="middle"
                    x="50%" y="65%">{{exercise.digram}}</text>
                </svg></div>
                <div style="padding-left:15px;flex-shrink:1;flex-grow:1"><span class="clickable" answer="a3"
                    style="font-size:16px">{{exercise.senderDisplayName}}</span> &lt;<span class="clickable text-muted" answer="a4"
                    style="font-size:16px">{{exercise.senderEmail}}</span>&gt;<br><span style="font-size:14px">To</span>&nbsp;<span class="clickable" answer="a5"
                    style="font-size:14px" [innerHTML]="exercise.toDisplayName | noSanitize"></span></div>
                <div style="min-width:60px;order:1"><br><span class="clickable text-muted" answer="a6" style="font-size:14px">{{exercise.time}}</span>
                </div>
              </div>
              <hr>
              <div class="card-text email-body" [innerHTML]="exercise.body | noSanitize"></div>
            </div>
          </div>
          <div class="phone-container" *ngIf="template === 1">
            <div class="phone"><img src="./assets/images/android-layout.png" class="phone-image"
                width="680" height="1407"> <img src="./assets/images/android-black.png"
                class="phone-image black-screen-image" #blackScreenImage (click)="unloadScreen()"
                (touchstart)="unloadScreen()" width="680" height="1407">
              <div class="screen">
                <div class="phone-box">
                  <div class="phone-email">
                    <div class="phone-banner" [innerHTML]="exercise.object | noSanitize"></div>
                    <div class="phone-header">
                      <div style="padding:23px 21px 5px">
                        <div style="display:flex;align-items:start">
                          <div style="width:70px;position:relative;top:-5px"><svg class="clickable" height="70" answer="a2" style="enable-background:new 0 0 48 48" version="1.1" viewBox="0 0 48 48" width="70" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
                              <style type="text/css">.st0{fill:{{senderColor}}}.st2{fill:#fff;font-family:Calibri;text-transform:uppercase;font-size:19px}</style>
                              <circle class="st0" cx="21" cy="21" r="21" transform="translate(1,2)"></circle><text class="st2" text-anchor="middle" x="45%" y="62%">{{exercise.digram}}</text>
                            </svg></div>
                          <div style="display:flex;justify-content:space-between;width:100%">
                            <div class="outlook-ribbon undeployed" fn="deployable">
                              <div><span class="clickable sender-displayname"
                                  answer="a3">{{exercise.senderDisplayName}}</span></div>
                              <div><span class="clickable fold" answer="a7"
                                  style="font-size:18px;color:#888">{{exercise.toDisplayName}}</span>
                              </div>
                              <div class="unfold"><span class="clickable phone-sender-email" answer="a4">{{exercise.senderEmail}}</span>
                              </div>
                              <div style="position:absolute;top:22px;right:0"><img src="./assets/images/dots.png" style="top:5px;position:relative"></div>
                            </div>
                          </div>
                        </div>
                        <div class="unfold">
                          <div class="phone-detailed-unfold">
                            <div class="phone-to">To</div><span class="phone-you">You</span> <span
                              class="clickable phone-to-email" answer="a5">{{exercise.toEmail}}</span>
                          </div>
                        </div>
                        <div class="phone-date-time"><span class="clickable" answer="a6">
                            <div class="fold"
                              style="position:relative;top:-73px;right:-496px;font-size:15px;color:#0178d4;text-align:right;width:70px">
                              <span class="t"
                                args="{&quot;d&quot;:&quot;4:02 PM&quot;,&quot;default&quot;:&quot;Yesterday&quot;,&quot;today&quot;:&quot;HH:mm&quot;}"
                                func="writeRelativeDate">Yesterday</span>
                            </div>
                            <div class="unfold phone-long-date"><span class="t"
                                args="{&quot;d&quot;:&quot;4:02 PM&quot;,&quot;today&quot;:&quot;dddd, MMMM d, HH:mm&quot;}"
                                func="writeRelativeDate">Wednesday, February 3, 16:02</span></div>
                          </span></div>
                      </div>
                    </div>
                  </div>
                  <div class="phone-email-body email-body" [innerHTML]="exercise.body | noSanitize"></div>
                </div>
                <div class="url-box" #urlBox><img src="./assets/images/android-url-info.png" class="pin-button">
                  <p class="url-text" #urlText></p><img src="./assets/images/url.png" class="url-button">
                </div>
              </div>
              <p class="phone-hour"><span class="t"
                  args="{&quot;d&quot;:&quot;0&quot;,&quot;format&quot;:&quot;HH:mm&quot;}"
                  func="writeDate">21:26</span>
              </p>
              <p class="phone-battery">61%</p>
            </div>
          </div>
          <div class="phone-container" *ngIf="template === 2">
            <div class="phone">
              <img class="phone-image" src="./assets/images/iphone-layout.png" height="1360" width="680">
              <img class="phone-image black-screen-image" #blackScreenImage (click)="unloadScreen()"(touchstart)="unloadScreen()" src="./assets/images/iphone-black.png" height="1360" width="680">
              <div class="iphone-hour">10:22</div>
              <div class="iscreen">
                <div class="iphone-box">
                  <div class="iphone-email">
                    <div class="iphone-banner" [innerHTML]="exercise.object | noSanitize"></div>
                    <div class="phone-header">
                      <div style="padding: 15px 23px 5px">
                        <div style="display:flex;align-items:start">
                          <svg answer="a2" class="clickable" width="82" height="82" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48" xml:space="preserve">
                            <style type="text/css">.st0{fill:{{senderColor}}}.st2{fill:#fff;font-family:Calibri;text-transform:uppercase;font-size:19px}</style>
                            <circle class="st0" cx="21" cy="21" r="21" transform="translate(1,2)" />
                            <text x="45%" y="62%" text-anchor="middle" class="st2">K</text>
                          </svg>
                          <div style="display:flex;justify-content:space-between;width:100%">
                            <div class="ioutlook-ribbon undeployed" fn="deployable">
                              <div><span answer="a3" class="clickable isender-displayname">{{exercise.senderDisplayName}}</span></div>
                              <div style="font-size:22px;color:#666">To <span answer="a7" class="clickable fold">{{exercise.toDisplayName}}</span></div>
                              <div class="unfold"><span answer="a4" class="clickable iphone-sender-email">{{exercise.senderEmail}}</span></div>
                              <div style="position:absolute;top:22px;right:0">
                                <img src="./assets/images/idots.png" style="top:21px;left:-5px;position:relative">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="unfold">
                          <div class="iphone-detailed-unfold">
                            <div class="iphone-to">To:</div> <span class="iphone-you">{{exercise.toDisplayName}}</span>
                            <span answer="a5" class="clickable iphone-to-email">{{exercise.toEmail}}</span>
                          </div>
                        </div>
                        <div class="phone-date-time" style="line-height:3px">
                          <div answer="a6" class="clickable">
                            <div class="fold" style="position:relative;top:-63px;right:-470px;font-size:20px;color:#666;text-align:right;width:70px">10:46</div>
                            <div class="unfold iphone-long-date">Thursday 18 November, 10:46</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="iphone-email-body email-body" [innerHTML]="exercise.body | noSanitize"></div>
                </div>
                <div class="iurl-box" #urlBox os="ios">
                  <div class="iurl-text" #urlText></div>
                  <div class="iphone-open">Open</div>
                  <div class="iphone-share">Share...</div>
                  <div class="iphone-copy">Copy</div>
                  <div class="iphone-cancel" (click)="unloadScreen()" (touchstart)="unloadScreen()">Cancel</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4" #proposal>
          <div class="card side">
            <div class="proposal-body">
              <div class=row>
                <div class="col-12 proposal" answer="a10">
                  <input type="checkbox" class="btn-check" id="proposal-1" autocomplete="off">
                  <label class="btn btn-outline-primary" for="proposal-1" (click)="switchClick($event)">The message is unexpected</label>
                </div>
                <div class="col-12 proposal" answer="a11">
                  <input type="checkbox" class="btn-check" id="proposal-2" autocomplete="off">
                  <label class="btn btn-outline-primary" for="proposal-2" (click)="switchClick($event)">The tone seems inappropriate</label>
                </div>
                <div class="col-12 proposal" answer="a12">
                  <input type="checkbox" class="btn-check" id="proposal-3" autocomplete="off">
                  <label class="btn btn-outline-primary" for="proposal-3" (click)="switchClick($event)">The visual guide is questionable</label>
                </div>
                <div class="col-12 proposal" answer="a13">
                  <input type="checkbox" class="btn-check" id="proposal-4" autocomplete="off">
                  <label class="btn btn-outline-primary" for="proposal-4" (click)="switchClick($event)">The email creates a sense of urgency</label>
                </div>
                <div class="col-12 proposal" answer="a14">
                  <input type="checkbox" class="btn-check" id="proposal-5" autocomplete="off">
                  <label class="btn btn-outline-primary" for="proposal-5" (click)="switchClick($event)">The message is too good to be true</label>
                </div>
                <div class="col-12 proposal" answer="a15">
                  <input type="checkbox" class="btn-check" id="proposal-6" autocomplete="off">
                  <label class="btn btn-outline-primary" for="proposal-6" (click)="switchClick($event)">The email plays with your curiosity</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
