<div *ngIf="!exerciseStarted">
  <div class="row">
    <label for="username" class="col-auto col-form-label">{{registerText}}:</label>
    <div class="col">
      <input type="text" class="form-control" id="username" [(ngModel)]="username" (keyup.enter)="register()">
    </div>
    <div class="col-auto">
      <button (click)="register()" class="btn btn-primary mb-3">{{registerButton}}</button>
    </div>
  </div>
  <div *ngIf="userRegistered">
    <div class="row">
      <div class="col"><p>Hello <strong>{{trainee.name}}</strong>,</p>
      <p>Welcome to the practical phishing training.</p>
      <p>You have <strong>{{duration}} minute{{duration > 1 ? 's' : ''}}</strong> to analyze <strong>{{exercisesNumber}}
          email{{exercisesNumber > 1 ? 's' : ''}}</strong>.</p>
      <p>You will be asked to recognize if the email is legitimate or a phishing attempt.</p>
      <p>In case the email is indeed a phishing attempt, you will have to select the elements allowing you to determine that
        the email was malicious. An element could be a sentence, a link, a button, an image…</p>
      <p>Each of your selected elements will be inside a yellow frame. If you want to remove an element from your selection,
        you can click again on it, the yellow frame will be removed.</p>
      <p>You will also have other elements that you can select to qualify the suspiciousness of the email, such as a wrong
        visual guide, a fake urgency situation…</p>
      <p><strong>Once you are satisfied with your selection, you will have to click on the "Validate" button</strong>. A
        message will be displayed to confirm if the elements that you selected were indeed suspicious enough.</p>
      <p>Click on the "Start" button to start the exercises and the counter ({{duration}} minute{{duration > 1 ? 's' : ''}}).
      </p></div>
      <div class="col-auto"><img src='./assets/images/home-exercise.png'></div>
    </div>
    <div class="row">
      <div class="col">
        <button (click)="start()" class="btn btn-primary mb-3">Start</button>
      </div>
    </div>
  </div>
</div>
<div class="exercise-section" #exerciseSection>
  <div *ngIf="userRegistered && exerciseStarted && !terminate">
    <app-exercise *ngIf="exerciseDisplayOne" [exercisePreview]="exercise" [preview]="false" (finish)="goToNextPage($event)"></app-exercise>
    <app-exercise *ngIf="exerciseDisplayTwo" [exercisePreview]="exercise" [preview]="false" (finish)="goToNextPage($event)"></app-exercise>
  </div>
</div>
<div *ngIf="userRegistered && exerciseStarted && terminate">
  <h4>{{endMessage}}</h4>
  <p>Number of correct analysis: {{correctAnalysisNumber}} / {{exercisesNumber}}</p>
  <p>Your score: {{totalScore}} Point{{totalScore > 1 ? 's' : ''}}</p>
</div>
